@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$table-border-color: gray;
$header-height: 60px;
$background-color: #E4E4E4;
$border-color: #CCC;
$gray-color: #576061;
$medium-gray-color: #666666;
$dark-green-color: #7F993A;
$lime-green-color: #A3C644;
$warning-color: #B22746;
$raspberry-color: #B22746;

$font-family-oswald: 'Oswald', helvetica, sans-serif, arial;
$font-family-source-sans-pro: 'Source Sans Pro', helvetica, sans-serif, arial;
$roboto-font-family: 'Roboto', helvetica, sans-serif, arial;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: $background-color;
  font-family: $font-family-oswald;
  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  padding: 0 20px;
}

.main.auth {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: url("../images/background.png") no-repeat center center fixed;
  background-size: cover;

  .content {
    display: flex;
    flex-grow: 1;

    .auth-block {
      margin: auto;
      background: rgba(255, 255, 255, 0.9);

      input {
        width: 100%;
        display: inline-block;
        height: 34px;
        padding: 5px;
        border: 1px solid $border-color;
      }

      .form-element {
        width: 250px;
        margin: 15px 0;

        &:first-child {
          margin-top: 0;
        }
      }

      input[type="submit"] {
        background: $dark-green-color;
        color: white;
        font-family: $font-family-source-sans-pro;
        border: none;
        padding: 0;
        display: inline-block;
        height: 34px;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background: $lime-green-color;
        }
      }

      .auth-block-header {
        border-bottom: 1px solid $border-color;
        padding: 15px;
        font-family: $font-family-source-sans-pro;
        font-size: 16px;
        color: $medium-gray-color;
      }

      .auth-block-content {
        padding: 15px;

        .register-offer {
          margin-top: 15px;
          font-family: $font-family-source-sans-pro;
          color: $gray-color;

          a {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.header-links {
  display: inline-block;
  line-height: $header-height;
  height: 100%;
  text-align: center;
  color: black;
  font-family: $font-family-oswald;
  padding: 0 20px;
  text-decoration: none;
}

.header {
  height: 60px;
  background-color: white;
  display: flex;

  .logo {
    height: 100%;
    font-size: 18px;
    
    a {
      @extend .header-links;
      text-transform: uppercase;
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        @extend .header-links;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .signout.right {
    margin-left: auto;
  }

  .signout {
    padding: 0 20px;
    display: flex;
    align-items: center;

    a {
      @extend .header-links;
      text-transform: uppercase;
      margin-left: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul, li {
    height: 100%;
  }
}

.required-error {
  border: 1px solid red;
}

.error {
  color: $warning-color;
  font-family: $font-family-source-sans-pro;

}

.layer {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.modal {
  display: inline-block;
  background: white;
  vertical-align: middle;
}

.tasks-table {
  display: flex;
  
  .participant {
    flex: 0 0 250px;
    
    table {
      width: 100%;
    }
    
    thead {
      tr {
        th {
          >div {
            >div {
              margin: auto; 
            }
          }
        }
      }
    }
  }
  
  .tasks {
    flex: auto;
    overflow-x: auto;
    overflow-y: visible;
    
    table {
      border-left: none;
      th:first-child, td:first-child {
        border-left: none;
      }
    }
    
    thead {
      th {
        >div:first-child {
          flex-direction: column;
          width: 325px;
          
          .task-name {
            flex: 3 3 auto;
            
            >div {
              margin: auto;
            }
          }
          
          .task-info {
            flex: 1 1 auto;
          }
          
          >div {
            display: flex;
          }
          
          >div:last-child {
            border-top: 1px solid $table-border-color;
            
            >div {
              flex: 1 0 50%;
              display: flex;
              text-align: center;
              border-left: 1px solid $table-border-color;
              
              &:first-child {
                border-left: none;
              }
              
              >div {
                margin: auto;
              }
            }
          }
        }
      }
    }
    
    tbody {
      td {
        >div {
          display: flex;
          
          >div {
            flex: 1 0 50%;
            text-align: center;
            border-left: 1px solid $table-border-color;
            
            &:first-child {
              border-left: none;
            }
          }
        }
      }
    }
  }
  
  thead {
    th {
      position: relative;
      >div:first-child {
        display: flex;
        height: 100px;
      }
    }
  }
  
}

.bordered-table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $table-border-color;
  thead {
    tr {
      &:first-child {
        border-top: none;
      }
    }
  }
  tbody {
    tr {
      &:last-child {
        border-bottom: none;
      }
    }
  }
  th:first-child, td:first-child {
    border-left: 0;
  }
  th:last-child, td:last-child {
    border-right: 0;
  }
  th, td {
    border: 1px solid $table-border-color;
    box-sizing: border-box;
  }
}

.task-controls {
  position: absolute;
  right: 0;
  top: 0;
}

.code-of-task {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid $border-color;
  display: inline-block;
  background: white;

  table {
    font-family: "Lucida Console", monospace;
    font-size: 16px;

    .code-row-number {
      padding-right: 10px;
      color: #b5b3b3;
    }

    .code {
      padding-left: 10px;
    }
  }

  .tag {
    color: #FF517C;
  }
  .attr {
    color: #8DAE52;
  }
  .attr-value {
    color: #DCAD3A;
  }
  
  .circle {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .element-needed {
    &:after {
      @extend .circle;
      background: transparent;
      box-sizing: border-box;
      border: 3px solid #26BF26;
    }
  }
  
  .wrong-element-chosen {
    &:after {
      @extend .circle;
      background: #FF5E5E;
    }
  }
  
  .needed-element-chosen {
    &:after {
      @extend .circle;
      background: #26BF26;
    }
  }
}

.answare-section.deprecated-error {
  input {
    border: red;
    background: pink;
  }
}

.participant-row {
  background-color: white;
  transition: background-color 0.5s ease-out 0.1s;
}

.highlighted {
  background-color: #99ff66;
}

.quiz-ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 450px;
    display: inline-block;
    margin: 60px 0 30px;
  }

  span {
    font-size: 28px;
    font-family: $font-family-source-sans-pro;
  }
}

.time-section {
  display: flex;
  height: 34px;
  align-items: stretch;
  margin-top: 20px;

  >div {
    line-height: 34px;
    padding: 0 15px;
    color: white;
    text-transform: uppercase;
  } 

  .deprecated-selectors {
    background: $raspberry-color;
  }

  .timer {
    margin-right: 20px;
    width: 60px;
    text-align: center;
    background: $dark-green-color;
  }
}

.answare-section {
  input {
    border: 1px solid $border-color;
    height: 30px;
    display: inline-block;
    padding: 0 5px;
    width: 250px;
  }

  .error {
    margin-left: 10px;
  }
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  background: white;
  margin-top: 30px;
  border: 1px solid $border-color;

  .common-info {
    display: flex;
    border-bottom: 1px solid $border-color;
    height: 40px;
    align-items: center;
    width: 100%;
    font-family: $font-family-source-sans-pro;
    font-size: 16px;
    padding: 0 20px;
  }

  .current-task {
    margin-right: 20px;

    span {
      margin-left: 10px;
    }
  }

  .time-spent {
    display: flex;

    .timer {
      margin-left: 10px;
    }
  }

  .participants {
    width: 100%;
    border-collapse: collapse;

    td {
      font-family: $font-family-source-sans-pro;
    }

    td:first-child, th:first-child {
      padding-left: 20px;
    }

    td:last-child, th:last-child {
      padding-right: 20px;
    }

    th, td {
      padding: 10px 0;
    }

    th {
      text-align: left;
      text-transform: uppercase;
    }
  }
}