$table-border-color: gray;

.required-error {
  border: 1px solid red;
}

.layer {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.modal {
  display: inline-block;
  background: white;
  vertical-align: middle;
}

.tasks-table {
  display: flex;
  
  .participant {
    flex: 0 0 250px;
    
    table {
      width: 100%;
    }
    
    thead {
      tr {
        th {
          >div {
            >div {
              margin: auto; 
            }
          }
        }
      }
    }
  }
  
  .tasks {
    flex: auto;
    
    table {
      th:first-child, td:first-child {
        border-left: none;
      }
    }
    
    thead {
      th {
        >div:first-child {
          flex-direction: column;
          justify-content: stretch;
          width: 300px;
          
          .task-name {
            flex: 3 3 auto;
            
            >div {
              margin: auto;
            }
          }
          
          .task-info {
            flex: 1 1 auto;
          }
          
          >div {
            display: flex;
          }
          
          >div:last-child {
            border-top: 1px solid $table-border-color;
            
            >div {
              flex: 1 0 50%;
              display: flex;
              text-align: center;
              border-left: 1px solid $table-border-color;
              
              &:first-child {
                border-left: none;
              }
              
              >div {
                margin: auto;
              }
            }
          }
        }
      }
    }
    
    tbody {
      td {
        >div {
          display: flex;
          
          >div {
            flex: 1 0 50%;
            text-align: center;
            border-left: 1px solid $table-border-color;
            
            &:first-child {
              border-left: none;
            }
          }
        }
      }
    }
  }
  
  thead {
    th {
      position: relative;
      >div:first-child {
        display: flex;
        height: 100px;
      }
    }
  }
  
}

.bordered-table {
  table-layout: fixed;
  border-collapse: collapse;
  th, td {
    border: 1px solid $table-border-color;
  }
}

.task-controls {
  position: absolute;
  right: 0;
  top: 0;
}

.code-of-task {
  .tag {
    color: orangered;
  }
  .attr {
    color: green;
  }
  .attr-value {
    color: pink;
  }
  
  .circle {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .element-needed {
    &:after {
      @extend .circle;
      background: white;
      box-sizing: border-box;
      border: 3px solid green;
    }
  }
  
  .wrong-element-chosen {
    &:after {
      @extend .circle;
      background: red;
    }
  }
  
  .needed-element-chosen {
    &:after {
      @extend .circle;
      background: green;
    }
  }
}

.answare-section.deprecated-error {
  input {
    border: red;
    background: pink;
  }
}

